*, *::before, *::after {
    box-sizing: border-box;
    font:  sans-serif;
  }
 body {
    font-size: 32px;
    
    background-image: url("img/fondo.jpg");
  } 

  
.kk {
    
    padding: 0;
    margin: 0;
    display: flex;
    width: 100vw;
    height: 40vh;
    justify-content: center;
    align-items: center;
  }

  
  .container {
    width: 800px;
    max-width: 80%;
    background-color:rgb(5, 5, 5);
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 0 10px 2px;
    color: rgb(255, 72, 0);
  }
  
  .btn-grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 20px 0;
  }
  
  .btn {
    background-color: rgb(255, 72, 0);
    border-radius: 5px;
    padding: 5px 10px;
    color: rgb(10, 10, 10);
    outline: none;
  }
  
  .btn:hover {
    border: 1px solid #ccc;
    border-color: rgb(238, 232, 232);
  }
  

  .start-btn, .next-btn {
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
  }
  
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .hide {
    display: none;
  }


.question{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;
    
}
.puntaje{
    font:  sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
    padding: 10px 20px;
    text-align: center;

}

.titulo {
    font:  sans-serif;
    font-size: 1.9rem;
    font-weight: bold;
    padding: 10px 10px;
    text-align: center;
    color: rgb(2, 2, 2);
    
    
}
.titulo1 {
  font:  sans-serif;
  font-size: 2.9rem;
  text-align: center;
  color:  rgb(255, 72, 0);
  background-color: rgb(5, 5, 5);
  border-radius: 55px;
  margin: 10px;
  box-shadow: 0 0 10px 2px;
  width: 800px;
  float: center;
  
  
}
.controls1 {
  display: flex;
  justify-content: center;
  align-items: center;
}
.titulo2 {
  font:  sans-serif;
  font-size: 1.7rem;
  text-align: center;
  color:  rgb(17, 17, 17);
  background-color: rgb(241, 234, 234);
  margin: 10px;
  width: 300px;
  float: center;
  
  
}

.yutu {
  background-color: rgb(255, 72, 0);
  border-radius: 5px;
  padding: 5px 10px;
  color: rgb(10, 10, 10);
  outline: none;
  border-radius: 50px;
  box-shadow: 0 0 20px 20px;
  font-size: 1.7rem;
}

.yutu:hover {
  border: 1px solid #ccc;
  border-color: rgb(238, 232, 232);
}
